
.item-thumbnail {
    grid-area: thumbnail;
    justify-self:center;
    align-self: center;
  }
  .item-title {
    grid-area: title;
    font-size: 26px;

}
  
  .item-rating {
    grid-area: rating;
   align-items: flex-start;
   justify-self: start;
   margin: 1rem 0;

}

  .item-desc {
    grid-area: desc;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin-bottom: 2rem;

  }

  .item-button{
    --item-button-width: 38px;
    --item-buttom-border-color: rgba(203, 203, 203, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    font-family:'Courier New', Courier, monospace;
    font-size: 38px;
    color: #CCBBCB;
    border: 1px var(--item-buttom-border-color) solid;
    grid-area: button;
    width: var(--item-button-width);
    height: 38px;
    border-radius: calc(var(--item-button-width)/2);   
   
  }

  .BookInfo__container{
    width: 80vw;
    display: grid;
    grid-template-columns:repeat(5,1fr) ;
    grid-template-rows: 1fr,1fr,5fr, 5fr;
    grid-template-areas: 
    "thumbnail title . . ."
    "thumbnail rating . . . "
    "thumbnail desc desc desc desc"
    "thumbnail desc desc desc desc";
    border-bottom: rgba(128,128,128,0.4)1.5px solid;
    margin: 1rem 0;
    padding: 15px;   
    }

    .borderBottom{   
    border-bottom: solid 1px rgba(203, 203, 203, 1);}
    
    .thumbnail{
      object-fit: cover;
      width: 7rem;
      height: 11rem;
    }
    .none{
      display: none;
    }

