.GenreCard__container{
    width:300px;
    height:260px;
    border-top-left-radius:60px;
    border-bottom-left-radius:60px;
    background-color: black;
    margin: 40px 0;

    }
.GenreCard__heading{
    height: 40px;
    color: white;
    padding: 15px 30px;
    font-size: l0px;
    margin: 15px;
}
.GenreCard__imgContainer{
    height: 100%;
    width: 100%;
    background-color: yellow;
    border-bottom-left-radius:60px;
}
.GenreCard__img{
    height: 100%;
    width: 100%;
    border-bottom-left-radius:60px;
    object-position:center;
    object-fit: cover;
    
    
}

