.homepg_container{
    background-image: url("../Images/home-background.jpeg");
    background-repeat: no-repeat;
    background-color: rgba(238, 238, 238, 1);
    display: grid;
    background-position: center;
    grid-template-columns: 3fr 1fr
};

.greeting__p{
    font-size: 16px
}

p{
    font-size: 16px !important;
}

.greeting{
  margin: 50px 0 30px 50px;

}