:root{
    --searchbar-logo-width-height: 40px;
}

body{
    background-color: white;
}
.NavbarItems {
    display: flex;
    background: #222831;
    color: white;
    height: 60px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 70px 0px 50px;
 
}
a{
    text-decoration: none !important;
    color: white !important;
}

.navbar-logo {
    margin: 0 200px 0 0;
    font-size: 2em;
    cursor: pointer;
}

.searchbar-logo {

    float: left;
    position: relative;
    margin: 8px -55px;   
    height: var(--searchbar-logo-width-height); 
    width: 40px;    
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 30px;
    list-style: none;
    text-align: center;
    width: 40vw;
    justify-content: end;
    margin-right: 8rem;
    margin-top: 1rem;
}


/* .photo {
    height: 20px;
    width: 20px;
} */


.container{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;;
    /* margin: 0 auto; */
}
.nav-links{
    color: white !important;
}

/* .templateContainer .template_Container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
} */
/* .templateContainer .template_Container .template{
    background-color: #ffce45;
    margin: 30px;
    padding: 0px 20px;
} */
/* .templateContainer .template_Container .template img{
    height: 250px;
} */

.searchBox{
    background-color: #ffce45;
    width: 50vw !important;
    padding-left: 70px !important;
    height: 55px !important;
    font-size: 2rem;

}
.submit{
    background-color: black;
    color: white;
    width: 100px !important;
    font-size: 15px;
    border:solid #FFFFFF 1px;
    border-left: none;
    margin: 1px 1px 1px 0px;
    height: 55px ;

}
  
::placeholder {
    color: white;
    padding: 10px;
}

form{
    display: flex;
}

.searchBox_container{
    display: flex;
    flex-direction: column;
}

.result_container{
    width: 200px;
    position:absolute;
    color: black;
    background-color: white;
    width: 50vw;
    font-size: 2rem;
    z-index: 2;
}
.span_results:hover{
background-color: lightslategrey !important;
cursor: pointer;

}

.SignIn{
    margin: 0 2rem;
    font-size:1.5rem;
    cursor: pointer;
    border: none;
    background-color: #222831;
    color: white;
}
.SignIn:hover{
    color: aqua;
    background-color: #222831;
}