.main {
  margin: 5% 15% 25%;
  width: 60%;
}

.container {
  display: flex;
  flex-direction: column;
}

.item {
  width: 100%;
}

.avatar {
  margin: 2% 0% 0%;
}

.headername {
  font-size: 24px;
  margin: 3% 0% 0%;
}

.headerlocation {
  font-size: 15px;
  margin: 0% 0% 7%;
}

.sectionheader {
  font-size: 20px;
  background-color: #ffce45;
  padding: 2% 6%;
}

.sectionhr {
  background-color: #ffffff;
  padding: 0.125%;
}

.sectiondiv {
  font-size: 15px;
  margin: 3% 10% 0%;
}

.ulists {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.button {
  width: 110px;
  height: 35px;
  font-size: 16px;
  background-color: #222831;
  color: white;
  border-bottom-left-radius: 20px;
  margin: 2% 0% 7%;
}
