.main {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.container {
  width: 100%;
}

.item {
  width: 100%;
}

.headername {
  font-size: 24px;
}

.headerlocation {
  font-size: 15px;
}

.sectionheader {
  font-size: 20px;
  background-color: #ffce45;
  padding: 1% 5%;
}

.sectionhr {
  background-color: #222831;
  padding: 0.125%;
}

.sectiondiv {
  font-size: 15px;
  margin: 0% 10%;
}

.button {
  width: 110px;
  height: 35px;
  font-size: 16px;
  background-color: #222831;
  color: white;
  border-bottom-left-radius: 20px;
  margin: 2% 0%;
}
