.main {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 3% 15%;
}

.containerProfile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5% 10% 5%;
  justify-content: flex-start;
  align-items: center;
}

.containerInfo {
  width: 100%;
  margin: 0% 0% 5%;
}

.itemProfile {
  width: 30%;
}

.itemInfo {
  width: 100%;
}

.headername {
  font-size: 24px;
}

.headerlocation {
  font-size: 15px;
}

.sectionheader {
  font-size: 20px;
  background-color: #ffce45;
  padding: 1% 5%;
}

.sectiondiv {
  font-size: 15px;
  margin: 0% 7%;
}

.populatediv {
  margin: 4% 0%;
}

.button {
  width: 110px;
  height: 35px;
  font-size: 16px;
  background-color: #222831;
  color: white;
  border-bottom-left-radius: 20px;
  margin: 2% 0%;
}
